:host {
  display: block;
  padding: 0 20px;
}

.article {
  margin-bottom: 20px;
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: relative;
  padding-left: 250px;
  transition: box-shadow .15s ease-in-out;
  cursor: pointer;
  
  &:last-of-type {
    margin-bottom: 40px;
  }
  
  &:hover {
    box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.7);
    .title {
      color: #2c406d;
    }
  }
}

.cover {
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }
}

.data {
  flex: 1;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  
  .author {
    display: flex;
    align-items: center;
  }
  
  span {
    font-family: 'MontserratRegular';
    font-size: 14px;
    color: #6d6d6d;
  }
  
  .svg-user {
    margin-right: 10px;
    width: 16px;
    height: 17px;
    fill: #6d6d6d;
  }
}

.title {
  margin-bottom: 16px;
  font-family: 'MontserratBold';
  font-size: 20px;
  transition: color .15s ease-in-out;
}

p {
  font-family: 'MontserratSemiBold';
  font-size: 14px;
}

.empty {
  font-family: 'MontserratBold';
  font-size: 20px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
