<div class="container">
  <div class="list" *ngIf="articles.length">
    <div class="article" *ngFor="let article of articles">
      <div class="cover">
        <img [src]="article.urlToImage" alt="image" appImgAspectRatio>
      </div>
      <div class="data">
        <div class="top">
          <div class="author">
            <svg class="svg-user">
              <use [attr.xlink:href]="'/assets/img/sprite.svg#user'"></use>
            </svg>
            <span>{{article.author}}</span>
          </div>
          <span class="publish">{{article.publishedAt | date:'medium'}}</span>
        </div>
        <div class="title">{{article.title}}</div>
        <p class="descr">{{article.description}}</p>
      </div>
    </div>
  </div>
  <span *ngIf="!articles.length" class="empty">no news for this request</span>
</div>
