@mixin font-face($path, $name, $weight, $style) {
	font-family: $name;
	src: url("/assets/fonts/" + $path + "/" + $path + ".eot");
	src: url("/assets/fonts/" + $path + "/" + $path + ".eot?#iefix") format('embedded-opentype'),
	url("/assets/fonts/" + $path + "/" + $path + ".woff") format('woff'),
	url("/assets/fonts/" + $path + "/" + $path + ".ttf") format('truetype');
  font-weight: $weight;
  font-style: $style;
}


@font-face { @include font-face("MontserratRegular", "MontserratRegular", normal, normal); }
@font-face { @include font-face("MontserratBold", "MontserratBold", normal, normal); }
@font-face { @include font-face("MontserratSemiBold", "MontserratSemiBold", normal, normal); }



