.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-magnif {
	font-size:(23.71/10)*1rem;
	width:(23.71/23.71)*1em;
}
.icon-user {
	font-size:(66.11/10)*1rem;
	width:(61.05/66.11)*1em;
}
