<div class="app">
  <div class="top">
    <div class="container">
      <h1>
        <span class="company">hubber</span>
        <span class="super">news</span>
      </h1>
      <app-search></app-search>
    </div>
  </div>
  <div class="selects">
    <div class="container">
      <app-select [items]="countries" key="country" [default]="defaultCountry"></app-select>
      <app-select [items]="categories" key="category" [default]="defaultCategory"></app-select>
    </div>
  </div>
  <app-news (changePagination)="newPaginationData($event)"></app-news>
  <pagination *ngIf="totalItems"
              [totalItems]="totalItems"
              [itemsPerPage]="5"
              [(ngModel)]="currentPage"
              [directionLinks]="false"
              (pageChanged)="changePage($event)"></pagination>
</div>
