.app {
  padding-bottom: 50px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #2c406d;
  margin-bottom: 40px;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

h1 {
  color: #fff;
  
  .company {
    font-size: 42px;
    font-family: 'MontserratBold';
    text-transform: uppercase;
  }
  
  .super {
    font-family: 'MontserratSemiBold';
    vertical-align: super;
    font-size: 22px;
    display: inline-block;
    margin-left: 6px;
  }
}

.selects {
  padding: 0 20px;
  margin-bottom: 30px;
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  app-select {
    display: block;
    width: 48%;
  }
}

pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  
  ::ng-deep {
    li {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        border-radius: 50%;
        overflow: hidden;
        background-color: #2c406d;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      color: #6d6d6d;
      padding: 0;
      font-family: 'MontserratSemiBold';
      font-size: 16px;
      border: none;
      background-color: transparent !important;
    }
  }
}
