@import "~src/assets/scss/_mixins";

.search {
  position: relative;
}

.svg-magnif {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #2f2f2f;
  opacity: .5;
  
  &.__active {
    opacity: 1;
  }
}

input {
  height: 36px;
  width: 450px;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 16px;
  overflow: hidden;
  font-family: 'MontserratRegular';
  font-size: 16px;
  color: #2f2f2f;
  
  @include placeholder {
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #2f2f2f;
    opacity: .5;
  }
}
