<div class="search">
  <input type="text" placeholder="Search..." [formControl]="searchControl" #inpEl/>
  <svg class="svg-magnif" [class.__active]="inpEl.value">
    <use [attr.xlink:href]="'/assets/img/sprite.svg#magnif'"></use>
  </svg>
</div>
