@import "assets/scss/reset";
@import "assets/scss/blank";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  background-color: #f9f9fa;
  height: 100%;
  overflow-y: scroll;
}


.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

ng-select {
  &.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: #2c406d;
  }
  
  &.ng-select {
    font-size: 16px;
    font-family: 'MontserratRegular';
  }
}
